<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>bootstrap test</title>
</head>
<body>
<div class="container">
  <h1>hello world</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Нажми меня</button>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-4 col-lg-3"><img
        src="https://poseidonhotel.com.gr/uploads/editorfiles/images/YouTube-icon-200x200.png" alt="" class="w-100">
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3"><img
        src="https://poseidonhotel.com.gr/uploads/editorfiles/images/YouTube-icon-200x200.png" alt="" class="w-100">
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3"><img
        src="https://poseidonhotel.com.gr/uploads/editorfiles/images/YouTube-icon-200x200.png" alt="" class="w-100">
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3"><img
        src="https://poseidonhotel.com.gr/uploads/editorfiles/images/YouTube-icon-200x200.png" alt="" class="w-100">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center bg-primary w-100" style="height: 90px">
      <div class="col-xs-12 col-sm-4 col-lg-3 align-self-start">
        <span class="bg-dark text-light">Lorem ipsum dolor sit amet.</span>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3 align-self-center">
        <span class="bg-dark text-light">Lorem ipsum dolor sit amet.</span>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3 align-self-end">
        <span class="bg-dark text-light">Lorem ipsum dolor sit amet.</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-left">
      <div class="col-xs-12 col-sm-4 col-lg-3"><img
        src="https://poseidonhotel.com.gr/uploads/editorfiles/images/YouTube-icon-200x200.png" alt="" class="w-100">
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3"><img
        src="https://poseidonhotel.com.gr/uploads/editorfiles/images/YouTube-icon-200x200.png" alt="" class="w-100">
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3"><img
        src="https://poseidonhotel.com.gr/uploads/editorfiles/images/YouTube-icon-200x200.png" alt="" class="w-100">
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3"><img
        src="https://poseidonhotel.com.gr/uploads/editorfiles/images/YouTube-icon-200x200.png" alt="" class="w-100">
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <h5 class="modal-title" id="exampleModalLabel">тест модалки</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">&times;</button>
          </div>
          <div class="modal-content">
            <app-modal></app-modal>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">Нафиг нужен этот механизм в Angular</button>
            <button class="btn btn-primary" data-dismiss="modal">Точно, надо!!</button>
          </div>
        </div>
      </div>
  </div>
</div>
</body>
</html>
