<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">тест модалки</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-content">
        <div class="container">
          <div class="row justify-content-center bg-secondary">
            <h1>Modal Works</h1>
          </div>
          <div class="row text-center">
    <span>
      потом надо будет попробовать целиком модалку сделать отдельным компонентом?
      а эта модалка и сделана отдельным компонентом
    </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Нафиг нужен этот механизм в Angular</button>
        <button class="btn btn-primary" data-dismiss="modal">Точно, надо!!</button>
      </div>
    </div>
  </div>
</div>
